<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Informasi terkini tentang obat-obatan" />
    <link rel="icon" href="./favicon.jpg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>RISET SAWIT</title>
  </head>
  <body>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1><img src="./favicon.jpg" alt="Logo" /></h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul class="nav-ul">
          <li><a href="#/Beranda">Beranda</a></li>
          <li><a href="#/Informasi-Obat">Informasi Obat</a></li>
          <li><a href="#/Edukasi">Edukasi</a></li>
          <li><a href="#/Kelolaobat" class="kelola">Kelola Obat</a></li>

          <li>
            <a
              href="#/Login"
              id="loginLink"
              style="
                color: #2d511d;
                font-weight: bold;
                border-radius: 20px;
                width: 80px;
                background-color: white;
                text-align: center;
              "
              >Login</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div class="login-form" id="login-form" style="display: none">
      <h2>Sign In</h2>
      <form id="signInForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
          <input type="checkbox" id="remember-me" name="remember-me" />
          <label for="remember-me">Remember Me</label>
        </div>
        <button type="submit" class="login-btn" id="signInButton">
          Sign In
        </button>
      </form>
      <p style="padding-top: 5px">
        Don't have an account? <a href="#" id="signUpLink">Sign Up</a>
      </p>
      <p>Need help?</p>
    </div>

    <div class="signup-form" id="signup-form" style="display: none">
      <h2>Sign Up</h2>
      <form id="signUpForm">
        <div class="form-group">
          <label for="new-name">Name</label>
          <input type="text" id="new-name" name="new-name" required />
        </div>
        <div class="form-group">
          <label for="new-email">Email</label>
          <input type="email" id="new-email" name="new-email" required />
        </div>
        <div class="form-group">
          <label for="new-password">Password</label>
          <input
            type="password"
            id="new-password"
            name="new-password"
            required
          />
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            required
          />
        </div>
        <button type="submit" class="signup-btn" id="signUpButton">
          Sign Up
        </button>
      </form>
      <p style="padding-top: 5px">
        Have an account? <a href="#" id="signInLink">Login</a>
      </p>
    </div>

    <main id="mainContent">
      <section id="Beranda">
        <div class="hero">
          <img src="./heros/heros.png" alt="heros" />
          <div class="TampilAwal">
            <h1>Welcome to the Health and Medicine Website</h1>
            <p>
              Halo! Selamat datang di platform kesehatan kami. Temukan informasi
              terkini tentang kesehatan dan obat-obatan dengan mudah di sini.
              Dapatkan artikel edukatif, tips kesehatan, video edukasi kesehatan, dan ulasan obat yang
              akurat dan relevan. Mari bersama mencapai kesehatan optimal dengan
              mendukung platform kami ini. Selamat menjelajah dan semoga bermanfaat!
            </p>
          </div>
        </div>

        <div class="obat">
          <h2 class="heading">Informasi Obat</h2>
          <div class="groupObat">
            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1nKR0aykdPOK3jQ1yLJMXFksEOCPrg8Z0/view?usp=drive_link"
                target="blank"
              >
                <div class="ellipse">
                  <img class="img" src="./images/luka_bakar.jpg" alt="luka" />
                </div>
              </a>
              <a
                href="https://www.alodokter.com/seperti-ini-cara-mengatasi-luka-bakar-pada-anak-yang-tepat"
                target="blank"
              >
                <div class="text">Luka Bakar</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1Kd4Zn3HdIOgzDmKMipxfcXHzMlsT_sjz/view?usp=drive_link"
                target="blank"
              >
                <div class="ellipse">
                  <img class="img" src="./images/diare.jpg" alt="diare" />
                </div>
              </a>
              <a
                href="https://sehatnegeriku.kemkes.go.id/baca/tips-sehat/20170403/4620310/kenali-diare-anak-dan-cara-pencegahannya/"
                target="blank"
              >
                <div class="text">Diare</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1o5AAnVCQQQp2CliAUNxWaPjEtOWlQnO9/view?usp=sharing"
                target="blank"
              >
                <div class="ellipse">
                  <img class="img" src="./images/maag.jpg" alt="maag" />
                </div>
              </a>
              <a
                href="https://www.alodokter.com/berikut-daftar-obat-maag-yang-perlu-anda-ketahui"
                target="blank"
              >
                <div class="text">Sakit Maag</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1OjpPuOUGNmGY1CndEX8rgcTe3N6bef-i/view?usp=sharing"
                target="blank"
              >
                <div class="ellipse">
                  <img class="img" src="./images/mual.jpg" alt="mual" />
                </div>
              </a>
              <a
                href="https://www.alodokter.com/berbagai-jenis-obat-mual-muntah"
                target="blank"
              >
                <div class="text">Mual-mual</div>
              </a>
            </div>
          </div>

          <div class="lihat-semua">
            <a href="Edukasi"></a>
          </div>
        </div>

        <div class="edukasi">
          <div class="judul">
            <h2 class="heading2">Edukasi</h2>
          </div>

          <div class="groupEdukasi">
            <div class="VideoEdukasi">
              <a href="https://youtu.be/vGIGTX0x46Q?si=F7hp0uMtwzzXZCce">
                <img src="Edukasi-Tentang-Obat-1.jpg" alt="Video 1" />
                <h3>Peran Obat dalam Menghancurkan Penyakit</h3>
              </a>
            </div>

            <div class="VideoEdukasi">
              <a href="https://youtu.be/3rmwhearFKU?si=a0wUmFOIg8Yovc5G">
                <img src="obat-generik-dan-obat-paten.jpg" alt="Video 2" />
                <h3>Obat Paten vs Obat Generik, Mana yang lebih baik ?</h3>
              </a>
            </div>

            <div class="VideoEdukasi">
              <a href="https://youtu.be/URIDZtdDti0?si=ziKM8F09zjQi5xmn">
                <img src="obat-campur-campur.jpg" alt="Video 3" />
                <h3>Boleh gk yah minum obat asal asalan?</h3>
              </a>
            </div>

            <div class="VideoEdukasi">
              <a href="https://youtu.be/Q7ozaVytNo4?si=5xwRyAXQWBHnTvct">
                <img src="fakta-mitos-remaja.jpg" alt="Video 4" />
                <h3>Mitos VS Fakta Kesehatan Remaja</h3>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section id="Informasi-Obat">
        <div class="obat2">
          <h2 class="heading2" style="text-align: center">Informasi Obat</h2>
          <div class="groupObat2">
            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1nKR0aykdPOK3jQ1yLJMXFksEOCPrg8Z0/view?usp=drive_link"
                target="blank"
              >
                <div class="ellipse">
                  <img class="img" src="./images/luka_bakar.jpg" alt="luka" />
                </div>
              </a>
              <a
                href="https://www.alodokter.com/seperti-ini-cara-mengatasi-luka-bakar-pada-anak-yang-tepat"
                target="blank"
              >
                <div class="text2">Luka Bakar</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1Kd4Zn3HdIOgzDmKMipxfcXHzMlsT_sjz/view?usp=drive_link"
                target="blank"
              >
                <div class="ellipse">
                  <img class="img" src="./images/diare.jpg" alt="diare" />
                </div>
              </a>
              <a
                href="https://sehatnegeriku.kemkes.go.id/baca/tips-sehat/20170403/4620310/kenali-diare-anak-dan-cara-pencegahannya/"
                target="blank"
              >
                <div class="text2">Diare</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1o5AAnVCQQQp2CliAUNxWaPjEtOWlQnO9/view?usp=sharing"
                target="blank"
              >
                <div class="ellipse">
                  <img class="img" src="./images/maag.jpg" alt="maag" />
                </div>
              </a>
              <a
                href="https://www.alodokter.com/berikut-daftar-obat-maag-yang-perlu-anda-ketahui"
                target="blank"
              >
                <div class="text2">Sakit Maag</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1OjpPuOUGNmGY1CndEX8rgcTe3N6bef-i/view?usp=sharing"
                target="blank"
              >
                <div class="ellipse">
                  <img class="img" src="./images/mual.jpg" alt="mual" />
                </div>
              </a>
              <a
                href="https://www.alodokter.com/berbagai-jenis-obat-mual-muntah"
                target="blank"
              >
                <div class="text2">Mual-mual</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1Gkr-P2xe0dK-Ad03Zh-t-49RNsKcvKFM/view?usp=sharing"
                target="blank"
              >
                <div class="ellipse">
                  <img class="img" src="./images/nyeri-otot.jpg" alt="nyeri" />
                </div>
              </a>
              <a
                href="https://rsupsoeradji.id/yuk-gunakan-obat-anti-nyeri-dengan-bijak/"
                target="blank"
              >
                <div class="text2">Nyeri-nyeri</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1N2rWRvyASq7mHT-Bmz3ep1uuwqlJ3phT/view?usp=sharing"
                target="blank"
              >
                <div class="ellipse">
                  <img
                    class="img"
                    src="./images/radang-tenggorokan.jpg"
                    alt="radang"
                  />
                </div>
              </a>
              <a
                href="https://www.halodoc.com/artikel/ini-11-obat-radang-tenggorokan-untuk-dewasa-tanpa-resep-dokter"
                target="blank"
              >
                <div class="text2">Radang</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1GUD6HErlFTht3gPshTgaIH-kYq5yH67I/view?usp=sharing"
                target="blank"
              >
                <div class="ellipse">
                  <img
                    class="img"
                    src="./images/sakit-mata.jpg"
                    alt="sakit mata"
                  />
                </div>
              </a>
              <a
                href="https://www.alodokter.com/7-obat-sakit-mata-yang-ampuh-dan-aman"
                target="blank"
              >
                <div class="text2">Sakit Mata</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1xkUTQ7EVaD0gXbDOdfi4wHcjyqPizpEq/view?usp=sharing"
                target="blank"
              >
                <div class="ellipse">
                  <img class="img" src="./images/sariawan.jpg" alt="sariawan" />
                </div>
              </a>
              <a
                href="https://www.halodoc.com/artikel/ini-7-rekomendasi-obat-sariawan-yang-ampuh-dan-mudah-ditemukan"
                target="blank"
              >
                <div class="text2">Sariawan</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/16NeVPRb3ABZ4MZAhDX-rFXZP_q3rI1ww/view?usp=sharing"
                target="blank"
              >
                <div class="ellipse">
                  <img
                    class="img"
                    src="./images/sembelit.jpg"
                    alt="susah BAB"
                  />
                </div>
              </a>
              <a
                href="https://www.halodoc.com/artikel/ini-rekomendasi-obat-bab-keras-yang-tersedia-di-apotek"
                target="blank"
              >
                <div class="text2">Susah BAB</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1c8kscXw87P3sP4X3ME_jOJvvVnoO6LIH/view?usp=sharing"
                target="blank"
              >
                <div class="ellipse">
                  <img
                    class="img"
                    src="./images/keputihan.jpg"
                    alt="Keputihan"
                  />
                </div>
              </a>
              <a
                href="https://www.alodokter.com/7-obat-keputihan-yang-ampuh-atasi-keluhan-dan-penyebabnya"
                target="blank"
              >
                <div class="text2">Keputihan</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1WMssgFUg48D7LDop0fUowwx-O8v8g3fH/view?usp=sharing"
                target="blank"
              >
                <div class="ellipse">
                  <img
                    class="img"
                    src="./images/gatal-gatal.jpg"
                    alt="Sakit Mata"
                  />
                </div>
              </a>
              <a
                href="https://www.halodoc.com/artikel/ini-rekomendasi-7-obat-gatal-pada-kulit-yang-ampuh-di-apotek"
                target="blank"
              >
                <div class="text2">Gatal-gatal</div>
              </a>
            </div>

            <div class="jenisObat">
              <a
                href="https://drive.google.com/file/d/1NSkLs5g-MCiUGn3SHXAr5h5AGLTzDRHv/view?usp=sharing"
                target="blank"
              >
                <div class="ellipse">
                  <img
                    class="img"
                    src="./images/batuk_pilek.jpg"
                    alt="Batuk Pilek"
                  />
                </div>
              </a>
              <a
                href="https://www.k24klik.com/blog/obat-batuk-pilek-paling-ampuh/"
                target="blank"
              >
                <div class="text2">Batuk Pilek</div>
              </a>
            </div>
          </div>
        </div>

        <div class="drug-list">
          <h2>Daftar Obat</h2>
          <div class="search-add-container-obat">
            <div class="search-bar">
              <input type="text" class="search-text" placeholder="Cari obat" />
              <button class="search-btn">
                <i class="fa fa-search" style="font-size: 18px"></i>
              </button>
            </div>
          </div>
          <div class="drug-grid"></div>
          <div class="paginationObat">
            <span>Showing 1 - 10 results of 298</span>
            <div class="pagination-buttons-obat">
              <button>&lt;</button>
              <span>Page 01</span>
              <button>&gt;</button>
            </div>
          </div>
          <div
            id="medicine-detail-popup"
            class="DetailPopup"
            style="display: none"
          >
            <div class="DetailPopup-content">
              <span class="close-button">&times;</span>
              <h3 id="popup-medicine-name"></h3>
              <br />
              <p>
                <strong>Class Therapy</strong> <br />
                <span id="popup-class-therapy"></span>
              </p>
              <hr />
              <p>
                <strong>Subclass Therapy 1</strong> <br />
                <span id="popup-subclass_therapy1"></span>
              </p>
              <hr />
              <p>
                <strong>Subclass Therapy 2</strong> <br />
                <span id="popup-subclass_therapy2"></span>
              </p>
              <hr />
              <p>
                <strong>Subclass Therapy 3</strong> <br />
                <span id="popup-subclass_therapy3"></span>
              </p>
              <hr />
              <p>
                <strong>Power</strong> <br />
                <span id="popup-power"></span>
              </p>
              <hr />
              <p>
                <strong>Unit</strong> <br />
                <span id="popup-unit"></span>
              </p>
              <hr />
              <p>
                <strong>Type</strong> <br />
                <span id="popup-type"></span>
              </p>
              <hr />
              <p>
                <strong>Composition</strong> <br />
                <span id="popup-composition"></span>
              </p>
              <hr />
              <p>
                <strong>Drug Restrictions</strong> <br />
                <span id="popup-drug_restrictions"></span>
              </p>
              <hr />
              <p>
                <strong>Maximum Prescription</strong> <br />
                <span id="popup-maximum_prescription"></span>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="Edukasi" class="edukasi-menu">
        <div class="container">
          <h2>Video Edukasi Kesehatan</h2>
          <div class="video-grid">
            <!-- Video 1 -->
            <div class="video-item">
              <img src="Edukasi-Tentang-Obat-1.jpg" alt="Video 1" />
              <h3>Peran Obat dalam Menghancurkan Penyakit</h3>
              <p>
                Mari perhatikan video ini karena penting loh untuk pengetahuan
                kita tentang peran obat yang harus kita ketahui:'
              </p>
              <a href="https://youtu.be/vGIGTX0x46Q?si=F7hp0uMtwzzXZCce"
                >Tonton Video 1 di YouTube</a
              >
            </div>

            <!-- Video 2 -->
            <div class="video-item">
              <img src="obat-generik-dan-obat-paten.jpg" alt="Video 2" />
              <h3>Obat Paten vs Obat Generik, Mana yang lebih baik ?</h3>
              <p>
                Jadi kita harus tau nih obat-obtan yang mana yang dapat kita
                beli langsung dan mana obat yang harus dengan resep dokter
              </p>
              <a href="https://youtu.be/3rmwhearFKU?si=a0wUmFOIg8Yovc5G"
                >Tonton Video 2 di YouTube</a
              >
            </div>

            <!-- Video 3 -->
            <div class="video-item">
              <img src="obat-campur-campur.jpg" alt="Video 3" />
              <h3>Boleh gk yah minum obat asal asalan?</h3>
              <p>
                Jangan minu obat campur campur yah karena obat yang
                campur-campur akan berakibat fatal dan berbahaya bagi hidup
                kita. mari lebih care terhadapt dir kita tentang pentingnya
                minum obat sesuai anjuran dokter. Karena kita gk belajar tentang
                kandungan obat dan tentang obat obatan. Banyak bahys deh kalo
                minum obat asal asalan dan campur campur :],
              </p>
              <a href="https://youtu.be/URIDZtdDti0?si=ziKM8F09zjQi5xmn"
                >Tonton Video 3 di YouTube</a
              >
            </div>

            <!-- Video 4 -->
            <div class="video-item">
              <img src="fakta-mitos-remaja.jpg" alt="Video 4" />
              <h3>Mitos VS Fakta Kesehatan Remaja</h3>
              <p>
                Ini nih fakta dan mitos yang berkembang di kalangan masyarakat
                dari yang muda sampai yang tua. Yuk simak video di bawah ini
                dengan baik yah. Semoga kita gak salah lagi dan bisa membedakan
                mana yang fakta dan mitos karena itu penting loh.
              </p>
              <a href="https://youtu.be/Q7ozaVytNo4?si=5xwRyAXQWBHnTvct"
                >Tonton Video 4 di YouTube</a
              >
            </div>

            <!-- Video 5 -->
            <div class="video-item">
              <img src="no-rokok.jpg" alt="Video 5" />
              <h3>Jangan Ngerokok Lagi Yahh</h3>
              <p>
                Buat kita nih yang masih suka merokok, ayuk jauhi ngerokok yuk.
                kita tahu bahayanya merokok dan kita juga sudah tau manfat
                menjauhi rokok. yok tonton video biar kita sehat dan orang orang
                di sekitar kita juga ikut sehat.
              </p>
              <a href="https://youtu.be/fUlfpFi1Dao?si=kzp6dOdc0faZOaF-"
                >Tonton Video 5 di YouTube</a
              >
            </div>

            <!-- Video 6 -->
            <div class="video-item">
              <img src="8 cara.jpg" alt="Video 6" />
              <h3>8 Tips Kesehatan</h3>
              <p>
                Ini nih tips kesehatan yang mungkin banyak orang tau tapi sering
                lupa tau bahhkan sering dilupakan loh. Tolong jaga kesehatan
                yang karena kesehatan itu mahal banget guyss
              </p>
              <a href="https://youtu.be/_JtsswlZzPg?si=zrKFkuyESZSOvlwW"
                >Tonton Video 6 di YouTube</a
              >
            </div>
          </div>
        </div>
      </section>
      <section
        id="Kelolaobat"
        class="kelola-obat"
        style="display: none"
      ></section>
    </main>

    <footer>
      <p>Copyright &copy; 2024 - <strong>The Health and Medicine</strong></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
