@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    /* width: 120px; */
    text-align: center;
    margin: 0;
  }

  .movies {
    grid-template-columns: 1fr 1fr;
  }

  .movie {
    grid-template-columns: auto 1fr;
  }

  .movie .movie__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .movie .movie__overview {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 850px) {
  .movies {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .movies {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .movies {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1200px) {
  .drug-grid {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 1050px) {
  .hero img {
    opacity: 0.4;
  }
}

@media screen and (max-width: 991px) {
  .TampilAwal {
    max-width: 700px;
    margin: 0 auto;
  }

  .TampilAwal h1 {
    font-size: 36px;
  }

  .TampilAwal p {
    font-size: 18px;
  }

  .groupObat {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }

  .groupObat2 {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }

  .groupEdukasi {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  .edukasi .judul a {
    padding-left: 70%;
  }

  .containerText {
    margin: 0 25%;
  }

  .drug-grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  .login-form,
  .signup-form {
    width: 350px;
  }

  .search-bar input {
    max-width: 400px;
  }

  .add-btn {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .TampilAwal {
    max-width: 600px;
    margin: 0 auto;
  }

  .TampilAwal h1 {
    font-size: 34px;
  }

  .TampilAwal p {
    font-size: 16px;
  }

  .groupObat2 {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }

  .groupEdukasi {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .edukasi .judul a {
    padding-left: 60%;
  }

  .drug-grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .search-bar input {
    width: 300px;
  }

  .login-form,
  .signup-form {
    width: 300px;
  }
}

@media screen and (max-width: 617px) {
  .TampilAwal {
    max-width: 500px;
    margin: 0 auto;
  }

  .TampilAwal h1 {
    font-size: 30px;
  }

  .TampilAwal p {
    font-size: 14px;
  }

  .groupObat {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  .groupObat2 {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }

  .groupEdukasi {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .edukasi .judul a {
    padding-left: 50%;
  }

  .containerText {
    margin: 0 10%;
  }

  .drug-grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .search-bar input {
    max-width: 250px;
  }
}

@media screen and (max-width: 520px) {
  .TampilAwal {
    max-width: 350px;
    margin: 0 auto;
  }

  .TampilAwal h1 {
    font-size: 28px;
  }

  .TampilAwal p {
    font-size: 12px;
  }

  .edukasi .judul a {
    padding-left: 40%;
  }

  .groupObat2 {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  .search-bar input {
    width: 200px;
  }

  .search-add-container {
    flex-direction: column;
    align-items: stretch;
  }

  .add-btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 462px) {
  .edukasi .judul a {
    padding-left: 30%;
  }

  /* .img-container {
    width: 330px;
  } */

  .hero img {
    /* height: 500px; */
    width: 330px;
    object-position: center 100px;
  }

  .drug-list {
    padding: 10px;
  }
}

@media screen and (max-width: 371px) {
  .TampilAwal {
    max-width: 335px;
    margin: 0 auto;
  }

  .TampilAwal h1 {
    font-size: 20px;
  }

  .TampilAwal p {
    font-size: 10px;
  }
}
