/* * {
  padding: 0;
  margin: 0;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #65b741;
  --bg-color-2: #ffffff;
  --text-color: #fbf6ee;
  --text-color-2: #2d511d;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Ensuring the content is centered vertically */
  align-items: center; /* Ensuring the content is centered horizontally */
}

/* Navbar */
.navbar {
  background-color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensuring the navbar takes full width */
}


.logo {
  font-size: 24px;
  font-weight: bold;
  width: 200px; /* Atur lebar sesuai kebutuhan */
  height: 100px; /* Atur tinggi sesuai kebutuhan */
}


.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.login-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Removed because it is not necessary */
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.login-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login-form a {
  text-decoration: none;
}

/* icon web di bagian kiri atas */
.app-bar__brand img {
  height: 45px; /* mengatur tinggi gambar favicon */

  .app-bar__brand img {
    height: 50px; /* mengatur tinggi gambar favicon */
  
  width: auto; /* membiarkan lebar disesuaikan secara otomatis */
  border-radius: 70%;
}
}

/* Beranda */
.hero {
  display: flex;
  align-items: center;
  min-height: 500px;
  width: 100%;
  text-align: left;
  background-position: center;
  background: linear-gradient(180deg, #65b741 0%, #2d511d 160.6%);
  overflow: hidden;
}

/* .img-container {
  position: absolute;
  height: 500px;
  width: 450px;
  overflow: hidden;
} */

.hero img {
  position: absolute;
  width: 450px;
  height: 500px;
  padding-left: 20px;
  object-fit: cover;
  object-position: center 50px;
}

.TampilAwal {
  margin: 0 5% 0 30%;
  max-width: 800px;
  z-index: 1;
  opacity: 100%;
}

.TampilAwal h1 {
  color: white;
  font-weight: 500;
  font-size: 40px;
}

.TampilAwal p {
  color: white;
  margin-top: 14px;
  font-weight: 500;
  font-size: 20px;
}

.obat,
.edukasi {
  min-height: auto;
  padding: 2rem 9% 2rem;
}

.obat {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-color-2);
  /* padding-bottom: 6rem; */
}

.heading {
  text-align: center;
  font-weight: bold;
  padding-bottom: 50px;
  color: var(--text-color-2);
}

.groupObat {
  position: relative;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  grid-gap: 20px;
}

.jenisObat {
  text-align: center;
}

.ellipse,
.img {
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  background-color: #65b741;
  border-radius: 60px;
  /* padding-bottom: 10px; */
}

.text {
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-2);
}

.lihat-semua {
  position: relative;
  padding: 2em;
}

.containerText {
  background-color: var(--bg-color);
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  margin: 0 37%;
}

.containerText a p {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  color: var(--text-color);
}

.edukasi {
  background: linear-gradient(180deg, #2d511d -55.82%, #65b741 100%);
}
.edukasi .judul {
  display: flex;
  padding-bottom: 50px;
}

.heading2 {
  color: var(--text-color);
}

.edukasi .judul a {
  padding-left: 80%;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
}

.groupEdukasi {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-bottom: 50px;
}

.VideoEdukasi {
  /* height: 20em; */
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.VideoEdukasi a {
  text-decoration: none;
}

.VideoEdukasi img {
  width: 100%;
  height: auto;
  display: block;
}

.VideoEdukasi a h3 {
  padding: 15px;
  font-size: 1.2em;
  color: var(--text-color-2);
}

/* Informasi Obat */
.obat2,
.drug-list {
  min-height: auto;
  padding: 2rem 9% 2rem;
}

.obat2 {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(180deg, #65b741 0%, #2d511d 160.6%);
  padding-bottom: 6rem;
}

.heading2 {
  text-align: left;
  padding-bottom: 50px;
  color: var(--text-color);
}

.groupObat2 {
  position: relative;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  grid-gap: 20px;
}

.text2 {
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
}

/* styling search bar */
.search input[type="text"] {
  width: 94%;
  height: 40px;
  border-radius: 25px;
  border: none;
}

.search {
  float: right;
  margin: 7px;
}

.search button {
  background-color: transparent;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.drug-list {
  background-color: var(--bg-color-2);
  display: grid;
  padding: 50px;
}

.drug-list h2 {
  text-align: left;
  margin-bottom: 20px;
  padding-left: 50px;
}

.drug-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 50px;
}

.drug-item {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 50px;
}

.pagination a {
  text-decoration: none;
  color: #4caf50;
  padding: 10px 15px;
  border: 1px solid #4caf50;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
} */

/* menu edukasi*/
/* styles.css */

/* Reset CSS */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Ganti dengan warna latar belakang yang diinginkan */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.video-item {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-item img {
  width: 100%;
  height: auto;
  display: block;
}

.video-item h3 {
  padding: 15px;
  font-size: 1.2em;
}

.video-item p {
  padding: 0 15px 15px;
  font-size: 0.9em;
  color: #666;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination a.current {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.hidden {
  display: none;
}

/* sign up*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* .app-bar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.app-bar__menu button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.app-bar__brand h1 {
  margin: 0;
}

.app-bar__navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.app-bar__navigation li {
  margin-right: 1rem;
}

.app-bar__navigation a {
  text-decoration: none;
} */

.login-form,
.signup-form {
  /* max-width: 800px; */
  width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-btn,
.signup-btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #0056b3;
}

/* footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
} */

/* AppBar */
.app-bar {
  padding: 8px 16px;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
  width: 100%; /* Ensuring the app-bar takes full width */
}

.app-bar__brand {
  position: relative;
  display: flex;
  align-items: center;
}

.app-bar__brand h1 {
  color: var(--text-color-2);
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
  margin: 0;
}

.app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar__menu button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar__navigation {
  position: absolute;
  top: 70px;
  left: -100%;
  width: 100%;
  transition: all 0.3s;
  padding: 8px;
  background-color: var(--bg-color);
  overflow: hidden;
}

.app-bar__navigation.open {
  left: 0;
}

.app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 16px;
}

.app-bar__navigation ul li a.active {
  /* background-color: #db0000; */
  color: var(--text-color-2);
  font-weight: bolder;
}

/* Main Content */
main {
  /* padding: 32px; */
  flex: 1;
  width: 100%; /* Ensuring main takes full width */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Ensuring the form is centered vertically within the main container */
  align-items: center; /* Ensuring the form is centered horizontally within the main container */
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content__heading {
  font-weight: normal;
}

/* Footer */
/* footer {
  padding: 16px;
  width: 100%;
} */

footer {
  background-color: var(--bg-color);
  font-size: 14px;
  font-weight: bold;
  padding: 2em;
  width: 100%;
  text-align: center;
}

footer p {
  padding-top: 10px;
  text-align: center;
  color: var(--text-color);
}

footer p strong {
  color: var(--text-color-2);
  font-weight: bolder;
}

/* Page Title */
.page-title {
  margin-top: 0;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Tambahkan ini ke file CSS Anda */
.logout-button {
  background-color: #4caf50; /* Warna latar belakang hijau */
  border: none; /* Hapus border default */
  color: white; /* Warna teks putih */
  padding: 10px 20px; /* Padding di sekitar teks */
  text-align: center; /* Teks ditengah */
  text-decoration: none; /* Hapus garis bawah */
  display: inline-block; /* Inline-block agar bisa memiliki lebar dan tinggi */
  font-size: 16px; /* Ukuran font */
  margin: 4px 2px; /* Margin kecil */
  cursor: pointer; /* Ganti cursor menjadi pointer */
  border-radius: 8px; /* Sudut melengkung */
  transition: background-color 0.3s ease; /* Transisi halus saat hover */
}

.logout-button:hover {
  background-color: #45a049; /* Warna latar belakang saat hover */
}

.medicine-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  /* max-width: 300px;
  margin: 10px auto;
  text-align: center; */
}

.medicine-item h3 {
  margin-top: 0;
  color: #333;
  font-size: 1.5em;
}

.medicine-item p {
  margin: 5px 0;
  color: #666;
}

.medicine-item:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Dashboard */
.search-add-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-bar .search-btn {
  padding: 5px 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.add-btn {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.table-container {
  padding: 10px 5%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f1f1f1;
}

table td {
  background-color: var(--bg-color-2);
}

.edit-btn {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.delete-btn {
  background-color: #f44336;
  color: var(--text-color);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.paginationDashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paginationDashboard-buttons {
  display: flex;
  align-items: center;
}

.paginationDashboard-buttons button {
  background-color: var(--bg-color-2);
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
}

.paginationDashboard-buttons span {
  font-size: 16px;
}

/* Tambah Obat & Edit Obat*/
.containerEdit,
.containerTambah {
  max-width: 800px;
  margin: auto;
  background-color: var(--bg-color-2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

form input,
form select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.buttons .btn-tambah,
.btn-simpan {
  background-color: var(--bg-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons .btn-batal {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* styles.css (atau file terpisah untuk CSS) */

/* Container untuk loading indicator */
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Menggunakan 80% tinggi viewport untuk kontainer loading */
}

/* Animasi spinner */
.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3aafa9;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Text loading */
.loading-container p {
  margin-top: 20px;
  font-size: 20px;
  color: #666;
  text-align: center;
}

/* Pop Up */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.popup.success {
  background-color: #28a745; /* Bootstrap success color */
}

.popup.error {
  background-color: #dc3545; /* Bootstrap danger color */
}

.popup.show {
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.modal-container {
  position: fixed; /* Atau bisa juga menggunakan 'absolute' tergantung kebutuhan */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 300px;
  width: 80%;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.modal-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

/* Tetapkan posisi modal di tengah-tengah */
.modal-container.show {
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
}

.modal-message {
  margin-bottom: 20px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-button.yes {
  background-color: #28a745;
  color: #fff;
}

.modal-button.no {
  background-color: #dc3545;
  color: #fff;
}

.modal-button:hover {
  opacity: 0.8;
}

/* popup detail obat */
.DetailPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: var(--bg-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.DetailPopup-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  width: 80%;
  /* max-width: 500px; */
  max-height: 80%;
  overflow-y: auto;
  position: relative;
  margin-top: 8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.DetailPopup-content hr {
  border: 1px solid var(--text-color-2);
}

.close-button {
  /* float: right;
  font-size: 1.5rem;
  cursor: pointer; */
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;
}

.DetailPopup h3 {
  font-size: 30px;
  font-weight: bolder;
  color: var(--text-color-2);
}

.DetailPopup strong {
  font-weight: bold;
  font-size: 20px;
  color: var(--text-color-2);
}

.DetailPopup span {
  font-size: 16px;
  color: var(--text-color-2);
}

/* search daftar obat */
.search-add-container-obat {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

/* pagination daftar obat */
.paginationObat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.pagination-buttons-obat {
  display: flex;
  align-items: center;
}

.pagination-buttons-obat button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination-buttons span {
  font-size: 16px;
}
